<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>카카오 이모티콘샵</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/admin/emotion-modification.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="header-top">
            <button class="toggle-button">
              <i class="fa-solid fa-bars"></i>
            </button>

            <a class="logo-button">
                <h1>kakao<span>emoticon</span> shop</h1>
            </a>

            <button class="search-button">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>

            <button class="mypage-button">
                <img src="/static/images/profile_default.png" alt="">
            </button>
        </div>

        <nav class="header-menu">
            <ul class="menu-list">
                <li class="menu-list-button"><a href="">이모티콘 등록</a></li>
                <li class="menu-list-button"><a href="">이모티콘 조회</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
      <div class="modification">

        <div class="reigster-title">
          <h1 class="modification-main-title">이모티콘 수정</h1>
          <h3 class="modification-sub-title">등록된 이모티콘을 수정을 할 수 있습니다.</h3>
        </div>

        <div class="modification-group">
          <div class="modification-left">
            <ul>
              <li>
                <h2 class="modification-li-title">이모티콘 코드</h2>
                <input type="text" placeholder="코드를 입력하세요." class="modification-input">
              </li>
              <li>
                <h2 class="modification-li-title">이모티콘 이름</h2>
                <input type="text" placeholder="이름을 입력하세요." class="modification-input">
              </li>
              <li>
                <h2 class="modification-li-title">제작사</h2>
                <input type="text" placeholder="제작사의 이름을 입력하세요." class="modification-input">
              </li>
              <li>
                <h2 class="modification-li-title">등록일</h2>
                <input type="date" placeholder="날짜를 입력하세요." class="modification-input">
              </li>
            </ul>
            <button class="modification-btn">등록</button>
          </div>
          
          <div class="modification-right">
            <form class="img-form">
              <div class="img-container">
                <input type="file" name="file" class="img-file">
                <img src="/static/images/noimg.jpg" class="emo-img">
                <button type="button" class="img-add-button" disabled>이미지 불러오기</button>
              </div>
              <div class="img-container">
                <input type="file" name="file" class="img-file">
                <img src="/static/images/noimg.jpg" class="emo-img">
                <button type="button" class="img-add-button" disabled>이미지 불러오기</button>
              </div>
              <div class="img-container">
                <input type="file" name="file" class="img-file">
                <img src="/static/images/noimg.jpg" class="emo-img">
                <button type="button" class="img-add-button" disabled>이미지 불러오기</button>
              </div>
              <div class="img-container">
                <input type="file" name="file" class="img-file">
                <img src="/static/images/noimg.jpg" class="emo-img">
                <button type="button" class="img-add-button" disabled>이미지 불러오기</button>
              </div>
              <div class="button-group">
                <button type="button" class="img-modification-button" disabled>이미지 등록</button>
                <button type="button" class="img-cencel-button" disabled>등록 취소</button>
              </div>
            </form>
        </div>

      </div>
    </div>
    <script src="/static/js/admin/emoticon_modification.js"></script>
</body>
</html>