<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/account/register.css">
</head>

<body>
    <div class="register-header">
        <h1>kakao</h1>
    </div>
    <div class="register-content">
        <div class="register-content-start">
            <h2>가입을 시작합니다!</h2>
            <p class="register-content-p1">카카오계정 하나로 <br> 다양한 서비스를 편리하게 이용해 보세요.</p>
            <!-- <p class="register-content-p2">카카오계정으로 사용할 이메일이 있나요?</p> -->
            <!-- <button class="register-btn-y">카카오 계정으로 로그인</button> -->
            <button class="register-btn-n">회원가입 하기</button>
            <p class="register-content-p3">사용중인 Daum 아이디가 있다면,<br>로그인하여 새로운 카카오계정을 만들 수 있어요.</p>
            <a href="https://logins.daum.net/accounts/checkaccountform.do?token=6d561b9f6107924c8e8f42416322a8a199c8f99fce5fcb2399baf81daa191ebc&url=https%3A%2F%2Faccounts.kakao.com%2Fweblogin%2Fcreate_account%2F%3Fapp_type%3Dweb%26continue%3Dhttps%253A%252F%252Fe.kakao.com%252F%26lang%3Dko%26daumToken%3D9e5c6e4093327cc4a384c70dbe4fef8dea521317055076fa493026797312194c">
                Daum 아이디로 카카오계정 가입</a>
        </div>
    </div>
    <div class="register-footer">
        <a href="https://www.kakao.com/policy/terms?lang=ko">이용약관</a>
        <a href="https://www.kakao.com/policy/privacy?lang=ko"><p2>개인정보 처리방침</p2></a>
        <a href="https://www.kakao.com/policy/oppolicy?lang=ko">운영정책</a>
        <a href="https://cs.kakao.com/">고객센터</a>
        <a href="https://www.kakao.com/notices?lang=ko">공지사항</a>
       <label for="">한국어</label>
       <p class="register-footer-p1">Copyright <a href="">© Kakao Corp</a>. All rights reserved.</p>
    </div>
</body>

</html>